
/*
    Fixierte Seitenleiste
    =====================
*/

.dw-sidebar-content:not(.panel) {
    position: fixed;
    top: 95px;
    left: 10px;
    overflow: auto;
    height: 70%;
    padding: 0 10px;
    width: 17%;
}

.dw-sidebar-body h1 {
    margin-top: 0 !important;
}

/* <hr> läuft über fixierte Seitenleiste -> ausblenden */
.footer-license hr {
    display: none;
}

/* schmälere Seitenleiste */
.mx-5 {
    margin-left:  0.5rem !important;
    margin-right: 0.5rem !important;
}

/*
    Struct Tabelle - sticky header und scrollable
    =============================================
*/

table {
    width: 100%;
    border-collapse: separate;
}

.table-bordered {
    border: none;
}

div.structaggregation table {
    display: block;
    position: relative;
    max-height: 540px;
    overflow: auto;
}

div.structaggregation table thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 998;
}

.dokuwiki .structaggregationeditor table.inline th.action {
    color: transparent;
}

div.tools,
div.struct_inlineditor {
    z-index: 999;
}

ul.ui-autocomplete {
    z-index: 1000;
}

.dokuwiki .structaggregation a.export {
    margin-top: -1.4em;
}

/*

*/

/*
#catlist-menu ul {
    padding: 0;
}

#catlist-menu li {
    float: left;
    list-style-type: none;
    margin: 6px;
}

#catlist-menu li a {
    padding: 4px;
    border: 1px solid silver;
}
*/

/*
    Struct - Eingabe Seitendaten
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~=
*/

/* Ticket: verberge Datum als Auswahlmöglichkeit -> timestamp */
#dw__editform div div fieldset > div.field {
    display: none;
}

#dw__editform div div fieldset > div.field ~ div.field {
    display: block;
}

/* gleiche Breite bei Dateneingabe */
select.form-control {
    min-width: 240px;
}

/*
    Sticky Breadcrumbs
*/

#dw__breadcrumbs hr {
    display: none;
    margin-top: 9px;
}

#dokuwiki__pageheader {
    display: block;
    position: fixed;
    z-index: 1000;
    width:100%;
    left: 0;
    top: 48px;
    background: white;
    border-bottom: 1px solid #ddd;
}

#dokuwiki__pageheader nav {
    float: left;
    margin: 9px 9px 0 15px;
}

#dokuwiki__pageheader p {
    float: right;
    margin: 6px 20px 4px 0;
}

/* verberge "Sie befinden sich hier" und Home-Icon */
ol.breadcrumb > li:first-child,
ol.breadcrumb > li:nth-child(2) {
    display: none;
}

/* Verberge letzten Brotkrümel */

/*
ol.breadcrumb > li:last-child {
    display: none;
}
*/

/*
ol.breadcrumb > li:last-child a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
*/

/* Main Container und Header nach unten verschieben
   um Überlappung zu vermeiden */
main.pb-5 {
    padding-top: 3rem !important;
}

h1.pb-3, h2.pb-3, h3.pb-3, h4.pb-3, h5.pb-3, h6.pb-3 {
    padding-top: 2rem !important;
}

/*
    Optische Anpassungen
    ====================
*/

/* TOC Menü fixiert */
#dw__toc.affix-top {
    position: fixed !important;
}

#dw__toc.affix {
    top: inherit !important;
}

/* addnewsidebar */
.addnewsidebar {
    position: absolute;
    right: 15px;
    top: 0px;
}

/*
div.structaggregation.listaggregation ul li::before {
    content: '>';
}
*/


div.structaggregation.listaggregation ul {
    list-style: disc outside none;
    margin-left: 10px;
}

div.structaggregation.listaggregation ul li {
    display: list-item;
}

div.structaggregation.listaggregation ul li div a {
    padding: 0 !important;
}


/*
div.structaggregation.listaggregation ul {
    display: initial;
    list-style: disc outside none;
}
*/

div.plugin_minical {
    clear: both;
}
